
<!-- Vyberte si, ktore chcete menu -->

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <h1> My App</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a [routerLink]="['/', 'basic-accounts']" mat-list-item>Transactions</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button [routerLink]="['/', 'basic-accounts']" mat-menu-item>Transactions</button>
</mat-menu>
    <h1> My App</h1>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>




