
<form [formGroup]="myForm">
    <p>
    <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input formControlName="accountNumber" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input formControlName="ammount" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field></p>
      <p>
      <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input formControlName="date" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    
    <button type="submit">Send</button>
  </form>